<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543685592929-pkgg2mahct342jt4qipofvclmbii7kqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543685592929-pkgg2mahct342jt4qipofvclmbii7kqc</string>
	<key>API_KEY</key>
	<string>AIzaSyBMgoLq0SnSFFxCSCKb799VIKfKsk5Xl-c</string>
	<key>GCM_SENDER_ID</key>
	<string>543685592929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-8f677</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-8f677.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543685592929:ios:ea9bd54d0ffcd5d199a720</string>
</dict>
</plist>